.CardItem {
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    margin-top: 50px;
}

.CardItem:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.Header {
    text-align: center;
    font-size: 22px;
}

.ItemHeader {
    color: #333;
}

.ItemImg {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.Info {
    margin: 10px 0;
    font-size: 16px;
}

.ItemFooter {
    text-align: center;
}

